# Ignore environment secrets
.env
*.env

# Ignore credentials and certificates
*.pem
*.key
.htpasswd
secrets/*
typemill-cms/secrets/*

# But try showing the empty directory structure
!typemill-cms/secrets/ssl_certs/.gitkeep

