# Copy this file to '.env' and modify the path to your local data storage root for Typemill persistent data
# See docker-compose.yaml for the directories to be mounted
TYPEMILL_MOUNTS=/path/to/your/Typemill/persistent/data
# Location of PHP conf files according to version, e.g. /etc/php83 for v. 8.3
PHP_INI_DIR=/etc/php83
