user="http-username"
pw="http-password"
domain="domain.of.monitored.site"
logFile="absolute path to logfile"
botToken="API-token for Telegram bot"
chatId="ID for the chat with the Telegram bot"
frontPageTitleString="Front page title (or part of it) that is used to confirm the page loads"

# switch to your timezone and preferred format, fed directly to the date command
timeZone="Europe/Helsinki"
dateTimeFormat="%d.%m.%Y %T" 

